global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Enable API and Dashboard
api:
  dashboard: true
  insecure: true

http:
  middlewares:
    hsts:
      headers:
        sslRedirect: true
        stsSeconds: 15552000 
        stsIncludeSubdomains: true
    redirecthttp:
        redirectScheme:
            scheme: https

entryPoints:
  web:
    address: :80
  websecure:
    address: :443
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_cert_resolver_email }}
      storage: /etc/traefik/certs/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: web
      # dnsChallenge:
      #   provider: cloudflare
      #   resolvers:
      #     - "1.1.1.1:53"
      #     - "8.8.8.8:53"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: /etc/traefik
    watch: true

